# Configuración de la Base de Datos
# DATABASE_URL=postgres://usuario:contraseña@localhost:5432/nombre_db

# Configuración de Django
DEBUG=True
SECRET_KEY=django-insecure-cambia-este-valor-en-produccion-muy-secreto

# Superusuario por defecto (para inicialización automática)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=Redimi2.
