django
psycopg2-binary  # Si usas Supabase o PostgreSQL local
gunicorn         # Recomendado para produccion (Cloud o Local)
python-dotenv    # Para manejar las variables de entorno
reportlab        # Para generacion de PDFs
openpyxl         # Para exportar Excel (XLSX)
dj-database-url
gunicorn
whitenoise